/* Global Css */
:root{
	--cafeOscuro :#402522;
	--cafeClaro: #412d2d;
	--Rosáce :#BC8F8F;
	--Beige:#daaf6b; 
	--white: white;
	--gray: #2b2b2b;
	--black: #1d1d1d;
	--green: #037248;
	--red: #720300;
	--azul: #0e2f44;
}
*,*::before,*::after{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans' !important;
}
@media (max-width: 550px) {
	html{
		font-size: 80%;
	}
	
}
@media (max-width: 500px) {
	html{
		font-size: 70%;
	}
	
}
/* NavBar */
@media (max-width: 615px) {
	.container-fluid{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}
.navbar-top{
	background-color: var(--cafeOscuro);
	position: fixed;
	z-index: 10;
	width: 100%;
}
#logo{
	color: var(--white);
	font-size: 2rem;
	cursor: default;
}
#logo span{
  	font-weight: bold;
}
.buttons-extra {
	width: 100%;
	max-width: 300px;
}
.button-extra{
	margin-right: 10px;
	padding: 10px;
	border-radius: 5px;
    font-size: 1.3rem;
    background-color: var(--green);
    border: none;
    color: white;
    outline: none;
}
.buttons-extra, .conteiner-buttons-users{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 350px) {
	.conteiner-buttons-users{
		flex-direction: column;
		gap: 20px;
	}
}
.accounts{
	display: flex;
	align-items: center;
}
.usuario-name{
	margin-right: 20px;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--Beige);
}
#login{
	height: 55px;
	width: 55px;
  	background-color: var(--Rosáce);
	border: none;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}
#login:hover{
	transform: translateY(-5px);
	background-color: var(--Beige);
}
/* Carousel */
.carousel-item{
	position: relative;
	background-color: black;
	width: 100%;
	height: 90vh;
	cursor: pointer;
}
.img-item{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.35;
}
.front-item{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 80%;
}
.item-title{
	color: var(--white);
	font-size: 3rem;
}
.item-p{
	color: var(--Beige);
	font-style: italic;
}
/* News */
.conteiner-news{
	width: 100%;
	height: 100%;
	background-color: var(--cafeClaro);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
@media (max-width: 768px) {
	.conteiner-news{
		flex-direction: column;
	}
}
.conteiner-flex{
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
}
@media (max-width: 768px) {
	.conteiner-flex{
		flex-direction: column;
	}
}
.conteiner-filters{
	max-width: 300px;
	height: 200px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	border-radius: 10px;
	box-shadow: 0 20px 15px 0 rgba(0,0,0,.4);
	background-color: var(--Beige);
}
.selects{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	font-size: 1.2rem;
}
.selects span{
	padding-right: 10px;
}
.select{
	width: 100%;	
	padding: 10px;
	border-radius: 5px;
	font-size: 0.9rem;
	background-color: var(--Beige);
	outline: none;
	cursor: pointer;
}
.conteiner-search{
	width: 100%;
	position: relative;
	margin:0 1rem 1rem 0;
}
.icon-tabler-search{
	position: absolute;
	top: 10px;
	left: 5px;
}
#search{
	height: 4rem;
	width: 100%;
	border-radius: 1rem;
	padding: 5px 5px 5px 45px;
	font-size: 1.5rem;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,.4);
	background-color: var(--Beige);
	outline: none;
}
#search::placeholder {
	color: var(--cafeClaro); 
}
.news{
	width: 100%;
	height: 100%;
	display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(29rem,1fr));
	padding: 0;
}
@media (max-width: 768px) {
	.news{
		grid-template-columns: 1fr;
	}
}
.card{
	background-color: var(--Beige);
    border-radius: 1rem;
    box-shadow: 0 20px 15px 0 rgba(0,0,0,.4);
    width: 100%;
	border: none;
	height: 100%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.card:hover{
	transform: translateY(-10px);
}
.img-card{
	width: 100%;
	height: 70%;
	object-fit: cover;
	border-radius: 1rem 1rem 5px 5px;
}
.front-card{
	height: 30%;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
}
.card-title{
	height: 50%;
	color: var(--azul);
	font-weight: bold;
	font-size: 1.5rem;
}
.card-p{
	height: 70%;
	width: 100%;
	color: var(--cafeClaro);
	font-style: italic;
	font-size: 1rem;
	overflow: hidden;
}
#No-posts{
	margin: 1rem;
	width: 100%;
	text-align: center;
	font-size: 2rem;
	color: var(--white);
}
.footer{
	width: 100%;
	height: 80px;
	background-color: var(--cafeOscuro);
	border-top: 2px solid var(--Rosáce);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#contactClick{
	font-size: 2rem;
	color: var(--white);
	cursor: pointer;
}
#contactClick:hover{
	color: var(--Beige);
	border-bottom: 2px solid var(--Beige);
}
#weather{
	color: white;
}
#temp{
	color: var(--green);
	font-weight: bold;
}
/* Contact */
.conteiner-contact{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 5rem 1rem;
	background-color: rgba(0, 0, 0, 0.6);
}
.contact-title{
	font-size: 3rem;
	font-weight: bold;
	color: var(--Beige);
	cursor: default;
	margin-bottom: 2rem;
}
.contact{
	width: 100%;
	max-width: 70rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.contact-flex{
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 5px;
}
#name, #email{
	width: 100%;
}
@media (max-width: 768px) {
	.contact-flex{
		display: flex;
		flex-direction: column;
	}
	#name, #email{
		width: 100%;
	}
}
.input-flex{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#name, #email, #subject, #message, #submit{
	padding: 1rem;
	font-size: 1.5rem;
	background-color: var(--gray);
	border: none;
	color: white;
	outline: none;
}
#name:focus, #email:focus, #subject:focus, #message:focus{
	border-bottom: 2px solid var(--Beige);
}
#subject{
	width: 100%;
}
#message{
	width: 100%;
	min-height: 200px;
}
.contact-bottom{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
#submit:hover, .button-extra:hover{
	transition: all 0.5s ease-in-out;
	background-color: var(--Beige);
	color: black;
}
/* Login */
.background-login{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-image: url(./assets/img/newspapersBackground.jpg);
}
.conteiner-general{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-form{
	background-color: var(--Beige);
	height: 600px;
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	border: 5px solid var(--azul);
	border-radius: 1rem;
	box-shadow: 0 20px 15px 0 rgba(0,0,0,.7);
}
.login-form-title{
	font-size: 3rem;
	text-align: center;
	cursor: default;
	font-weight: bold;
	color: white;
}
.top-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.icon-in-input{
	position: relative;
}
.icon-tabler-mail, .icon-tabler-lock, .icon-tabler-user{
	position: absolute;
	top: 20%;
	left: 5px;
}
.login-user,.login-email, .login-password{
	height: 60px;
	width: 100%;
	padding: 10px 10px 10px 50px;
	font-size: 1.4rem;
	border: none;
	border-radius: 5px;
	outline: none;
}
.login-user:focus,.login-email:focus, .login-password:focus{
	border-bottom: 2px solid var(--green);
}
.flex-right{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 1rem;
	gap: 10px;
}
#createAccountType{
	height: 50px;
	width: 100%;
	max-width: 150px;	
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.4rem;
	outline: none;
}
#loginButton{
	border: none;
	border-radius: 1rem;
	padding: 10px;
	font-size: 1.4rem;
	background-color: var(--gray);
	color: var(--white);
}
#loginButton:hover{
	background-color: var(--green);
	transition: all 0.2s ease-in-out;
}
#forgotPassword, #createAccount{
	font-size: 1.2rem;
	font-style: italic;
	color: var(--white);
	cursor: pointer;
}
#forgotPassword:hover, #createAccount:hover{
	color: var(--green);
}
.bottom-form #createAccount{
	margin-left: 10px;
}
/* Create Account */
.create-account-form{
	height: 460px;
}
.error-message{
	width: 100%;
	text-align: center;
	color: red;
	font-size: 1.2rem;
	font-style: italic;
}
.successful-message{
	width: 100%;
	text-align: center;
	color: green;
	font-size: 1.2rem;
	font-style: italic;
}
/* 	
	Todos los demas estilos se
	sacaron del login 
*/

/* Article */
.article-conteiner{
	height: 100vh;
	width: 100vw;
	background-color: var(--cafeOscuro);
}
.header-article{
	height: 80px;
	width: 100%;
	background-color: var(--Beige);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
}
.main-article{
	height: calc(100vh - 200px);
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.row-article{
	height: 100%;
	width: 95%;
	display: flex;
	align-items: center;
	gap: 50px;
}
.columnas-article{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
@media (max-width: 1000px) {
	.row-article{
		flex-direction: column;
		margin-top: 20px;
		gap: 20px;
	}
	.columnas-article{
		width: 100%;
	}
	.columna-1{
		height: 35%;
	}
	.columna-2{
		height: 65%;
	}
}
.imagen-article{
	height: 90%;
	width: 100%;
	max-width: 1000px;
	object-fit: cover;
	background-position: bottom;
	border-radius: 10px;
  	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.top-columna-article, .bottom-columna-article{
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--Beige);
	border-bottom: 5px solid var(--Beige) ;
}
.bottom-columna-article{
	color: var(--white);
}
.title-article{
	font-size: 1.8rem;
	font-weight: bold;
}
.parrafo-article{
	color: var(--white);
	font-size: 1.2rem;
	text-align: justify;
	line-height: 2.5rem;
}
@media (max-width: 850px) {
	.parrafo-article{
		line-height: 1.8rem;
	}
}
@media (max-height: 680px) {
	.parrafo-article{
		font-size: 1rem;
		line-height: 1.3rem;
	}
}
.fecha-article, .ubicacion-article{
	font-size: 1rem;
	font-style: italic;
}
.footer-article{
	height: 120px;
	width: 100%;
	background-color: var(--cafeClaro);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.button-article{
	margin-left: 20px;
	height: 50px;
	width: 130px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: var(--Beige);
	transition: all 0.1s ease-in-out;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.button-article:hover,
#button-aprove:hover{
	background-color: var(--green);
	color: white;
}
#button-decline:hover{
	background-color: var(--red);
	color: white;
}
.button-article:hover .icon-tabler-arrow-back{
	stroke: white;
}
.buttonsDecision{
	width: 270px;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#button-aprove, #button-decline{
	height: 50px;
	width: 130px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: var(--Beige);
	transition: all 0.1s ease-in-out;
	font-size: 1.3rem;
}
@media (max-width: 500px) {
	.footer-article{
		height: 120px;
		flex-direction: column;
		justify-content: space-around;
	}
	.button-article{
		margin-left: 0px;
	}
	.buttonsDecision{
		margin-right: 0px;
	}
}
/* FORM JOURNALIST */
.form-journalist {
	background-color: var(--cafeOscuro);
	color: white;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	padding: 20px;
	border-radius: 20px;
	font-size: 1.25rem;
}
.form-journalist h1{
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}
.journalist-label {
	display: block;
	margin-top: 5px;
}

.form-journalist input[type="text"],
.form-journalist #numero,
.form-journalist select,
.form-journalist textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-size: 16px;
}
.conteiner-inputs-form{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0;
}
.conteiner-radios{
	width: 30%;
	display: flex;
	justify-content: center;
	margin-top: 1.8rem;
}
@media (max-width: 400px) {
	.conteiner-radios{
		display: flex;
		flex-direction: column;	
	}
	
}
.conteiner-inputs-form .radio{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	gap: 5px;
}
.form-journalist input[type="date"],
.form-journalist select {
	padding: 10px;
}

.form-journalist textarea {
	height: 200px;
	resize: vertical;
}

#journalist-form {
	display: block;
	background-color: var(--Beige);
	color: black;
	padding: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 3px;
	font-size: 20px;
	cursor: pointer;
}
.conteiner-submit-journalist{

	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.conteiner-submit-journalist div{
	display: flex;
	gap: 5px;
}
#day, #night, #urgent{
	height: 20px;
	width: 20px;
	margin-top: 3px;
}
.back{
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	height: 50px;
	width: 130px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: var(--Beige);
	transition: all 0.1s ease-in-out;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.back:hover, #journalist-form:hover{
	background-color: var(--green);
	color: white;
}
.back:hover .icon-tabler-arrow-back{
	stroke: white;
}
/* ADMIN PAGE */
.administration{
	width: 100%;
	max-width: 1200px;
	height: 85vh;
	background-color: var(--Beige);
	border-radius: 10px;
	box-shadow: 0 20px 15px 0 rgba(0,0,0,.4);
}
.control-panel{
	width: 100%;
	height: 70px;
	border-bottom: 5px solid var(--azul);
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 2px;
}
.control-panel button{
	border: none;
	width: 100%;
	height: 100%;
	background-color: transparent;
	font-size: 1.5rem;
	color: white;
}
.principal-content{
	width: 100%;
	height: 92%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* MANAGE POSTS */
.conteiner-manage{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.manage-top{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 5px solid var(--azul);
}
.manage-top h2{
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--azul);
	text-align: center;
}
.manage-posts{
	margin-top: 10px;
	width: 100%;
	height: 87%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 15px;
	scrollbar-width: thin;
    scrollbar-color: var(--green) var(--azul);
}

.manage-posts::-webkit-scrollbar{
    width: 15px;
}

.manage-posts::-webkit-scrollbar-thumb{
    background-color: var(--green);
    border-radius: 5px;
	border: 2px solid var(--azul);
}

.post{
	list-style: none;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	box-shadow: 0 15px 15px 0 rgba(0,0,0,.4);
	background-color: var(--green);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 30px 10px 10px 10px;
	cursor: pointer;
}
#post-tittle{
	font-size: 2.5rem;
	color: var(--white);
	text-align: center;
}
.post-bottom{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	color: var(--white);
	font-size: 1.2rem;
	text-align: center;
}
#urgent-state{
	color: rgb(155, 0, 0);
}
/* MANAGE ACCOUNTS */
.account{
	list-style: none;
	width: 100%;
	height: 150px;
	border-radius: 10px;
	box-shadow: 0 15px 15px 0 rgba(0,0,0,.4);
	background-color: var(--green);
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
	cursor: pointer;
}
@media (max-width: 500px) {
	.account{
		flex-direction: column;
	}
}
#account-name,#account-type,#account-gmail{
	font-size: 1.5rem;
	color: white;
}
#account-type{color: var(--red);font-weight: bold;}

/* EditAccounts */
.half{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#deleteAccount{
	border: none;
	border-radius: 1rem;
	padding: 10px;
	font-size: 1.5rem;
	background-color: var(--azul);
	color: var(--white);
	cursor: pointer;
}
#deleteAccount:hover{
	background-color: var(--red);
	transition: all 0.2s ease-in-out;
}