/* Global Css */
:root{
	--cafeOscuro :#402522;
	--cafeClaro: #412d2d;
	--Rosáce :#BC8F8F;
	--Beige:#daaf6b; 
	--white: white;
	--gray: #2b2b2b;
	--black: #1d1d1d;
	--verde: #037248;
	--azul: #0e2f44;
}
*,*::before,*::after{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans' !important;
}
@media (max-width: 550px) {
	html{
		font-size: 80%;
	}
	
}
@media (max-width: 450px) {
	html{
		font-size: 70%;
	}
	
}
/* NavBar */
.navbar-top{
	background-color: var(--cafeOscuro);
	position: fixed;
	z-index: 10;
	width: 100%;
}
#logo{
	color: var(--white);
	font-size: 2rem;
	cursor: default;
}
#logo span{
  	font-weight: bold;
}
#login{
	height: 55px;
	width: 55px;
  	background-color: var(--Rosáce);
	border: none;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}
#login:hover{
	transform: translateY(-5px);
	background-color: var(--Beige);
}
/* Carousel */
.carousel-item{
	position: relative;
	background-color: black;
	width: 100%;
	height: 80vh;
}
.img-item{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.35;
}
.front-item{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 80%;
}
.item-title{
	color: var(--white);
	font-size: 3rem;
}
.item-p{
	color: var(--Beige);
	font-style: italic;
}
/* News */
.conteiner-news{
	width: 100%;
	height: 100%;
	background-color: var(--cafeClaro);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
@media (max-width: 768px) {
	.conteiner-news{
		flex-direction: column;
	}
}
.conteiner-flex{
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
}
@media (max-width: 768px) {
	.conteiner-flex{
		flex-direction: column;
	}
}
.conteiner-filters{
	max-width: 300px;
	height: 200px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	border-radius: 10px;
	box-shadow: 0 20px 15px 0 rgba(0,0,0,.4);
	background-color: var(--Beige);
}
.selects{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	font-size: 1.2rem;
}
.selects span{
	padding-right: 10px;
}
.select{
	width: 100%;	
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.9rem;
	background-color: var(--Beige);
	outline: none;
	cursor: pointer;
}
.conteiner-search{
	width: 100%;
	position: relative;
	margin:0 1rem 1rem 0;
}
.icon-tabler-search{
	position: absolute;
	top: 10px;
	left: 5px;
}
#search{
	height: 4rem;
	width: 100%;
	border-radius: 1rem;
	padding: 5px 5px 5px 45px;
	font-size: 1.5rem;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,.4);
	background-color: var(--Beige);
	outline: none;
}
#search::placeholder {
	color: var(--cafeClaro); 
}
.news{
	width: 100%;
	height: 100%;
	display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(29rem,1fr));
	padding: 0;
}
@media (max-width: 768px) {
	.news{
		grid-template-columns: 1fr;
	}
}
.card{
	background-color: var(--Beige);
    border-radius: 1rem;
    box-shadow: 0 20px 15px 0 rgba(0,0,0,.4);
    width: 100%;
	border: none;
	height: 100%;
}
.img-card{
	width: 100%;
	height: 70%;
	object-fit: cover;
	border-radius: 1rem 1rem 5px 5px;
}
.front-card{
	height: 30%;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
}
.card-title{
	height: 50%;
	color: var(--azul);
	font-weight: bold;
	font-size: 1.5rem;
}
.card-p{
	height: 70%;
	width: 100%;
	color: var(--cafeClaro);
	font-style: italic;
	font-size: 1rem;
	overflow: hidden;
}
/* Contact */
.conteiner-contact{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 5rem 1rem;
	background: linear-gradient(
		var(--cafeClaro),
		var(--black) 50%
	);
}
.contact-title{
	font-size: 3rem;
	font-weight: bold;
	color: var(--Beige);
	cursor: default;
	margin-bottom: 2rem;
}
.contact{
	width: 100%;
	max-width: 70rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.contact-flex{
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 5px;
}
#name, #email{
	width: 50%;
}
@media (max-width: 768px) {
	.contact-flex{
		display: flex;
		flex-direction: column;
	}
	#name, #email{
		width: 100%;
	}
}
#name, #email, #subject, #message, #submit{
	padding: 1rem;
	font-size: 1.5rem;
	background-color: var(--gray);
	border: none;
	color: white;
	outline: none;
}
#name:focus, #email:focus, #subject:focus, #message:focus{
	border-bottom: 2px solid var(--Beige);
}
#subject{
	width: 100%;
}
#message{
	width: 100%;
	min-height: 200px;
}
.contact-bottom{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
#submit:hover{
	transition: all 0.5s ease-in-out;
	background-color: var(--Beige);
	color: black;
}
/* Login */
.background-login{
	width: 100vw;
	height: 100vh;
	background-image: url(./assets/img/newspapersBackground.jpg);
}
.conteiner-login{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.login-form{
	background-color: var(--Beige);
	height: 550px;
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	border: 5px solid var(--azul);
	border-radius: 1rem;
	box-shadow: 0 20px 15px 0 rgba(0,0,0,.7);
}
.login-form-title{
	font-size: 3rem;
	cursor: default;
	font-weight: bold;
	color: white;
}
.top-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.icon-in-input{
	position: relative;
}
.icon-tabler-mail, .icon-tabler-lock{
	position: absolute;
	top: 20%;
	left: 5px;
}
#login-email, #login-password{
	height: 60px;
	width: 100%;
	padding: 10px 10px 10px 50px;
	font-size: 1.4rem;
	border: none;
	border-radius: 5px;
	outline: none;
}
#login-email:focus, #login-password:focus{
	border-bottom: 2px solid var(--verde);
}
.flex-right{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
}
#loginButton{
	border: none;
	border-radius: 1rem;
	padding: 10px;
	font-size: 1.4rem;
	background-color: var(--gray);
	color: var(--white);
}
#loginButton:hover{
	background-color: var(--verde);
	transition: all 0.2s ease-in-out;
}
#forgotPassword, #createAccount{
	font-size: 1.2rem;
	font-style: italic;
	color: var(--white);
	cursor: pointer;
}
#forgotPassword:hover, #createAccount:hover{
	color: var(--verde);
}
.bottom-form #createAccount{
	margin-left: 10px;
}